$base-bg: #fff;
$base-color: #000;
$base-link-color: #000;
$base-font-size: 11px;
$base-line-height: 1.2;
$base-font-family: Arial, Helvetica, sans-serif;

$url-bg: "../images/bg"; /* how to use background-image: url('${url-bg}/bg1.png'); */
$url-icons: "../images/icons";
$url-sprites: "../images/sprites";